{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{% static 'semantic/dist/semantic.min.css'%}">
	<title>Enib.net - Le site pour les étudiants de l'enib</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/homepage.css' %}">
</head>
<body>

	<!-- Picture in background -->
	<img class="bg-home" src="{% static 'images/banner.jpg' %}" alt="" \>

	<!-- Following Menu -->
	<div class="ui large top fixed menu inverted max">
		<div class="ui container">
			<div class="right menu">
				<div class="item">
					<a href="{% url 'accounts:login' %}" class="ui button inverted">Site élève</a>
				</div>
			</div>
		</div>
	</div>

	<!-- Page Contents -->

	<!-- Header section -->
	<section class="ui inverted vertical masthead center aligned segment">
		
		<!-- Login btn for mobile -->
		<div class="login-btn min">
			<a href="{% url 'accounts:login' %}" class="ui black button">Site élève</a>
		</div>

		<!-- Icon -->
		<div class="logo">
			<img src="{% static 'images/logo.png' %}" alt="logo">
		</div>
		<div class="ui text container">
			<h1 class="ui inverted header">
				Enib.net
			</h1>
			<h2>Le site des élèves de l'enib</h2>
			<a class="ui huge button max" href="#introduction">Commencer la visite<i class="right arrow icon"></i></a>
		</div>

	</section>

	<!-- Intro section -->
	<section class="ui vertical introduction">
		<a name="introduction" id="introduction"></a>
		<div class="ui text container">
			<h1 class="ui header ">Quelques chiffres</h1>
		</div>
		<div class="ui stackable grid container">
			<div class="number">
				<div class="number_content">
					<div class="number_content_nh">
						<table width="100%" height="100%" cellpadding="0" cellspacing="0" border="0">
							<tbody>
								<tr>
									<td>
										<h3>100% d'emploi</h3>
										<h4>6 mois après la remise des diplômes</h4>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="number_content_h">
						<table width="100%" height="100%" cellpadding="0" cellspacing="0" border="0">
							<tbody>
								<tr>
									<td>
										<div>Plus d'information</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<a class="number_img" href="http://enib.fr/fr/ecole/ecole-reussite-ingenieur/reussite-des-eleves" target="_blank" >
						<img src="https://img4.hostingpics.net/pics/802131pedale.jpg" alt="" \>
					</a>
				</div>
			</div>
			<div class="number">
				<div class="number_content">
					<div class="number_content_nh">
						<table width="100%" height="100%" cellpadding="0" cellspacing="0" border="0">
							<tbody>
								<tr>
									<td>
										<h3>Depuis 1961</h3>
										<h4>L'enib révèle des ingénieurs depuis 1961</h4>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="number_content_h">
						<table width="100%" height="100%" cellpadding="0" cellspacing="0" border="0">
							<tbody>
								<tr>
									<td>
										<div>Plus d'information</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<a class="number_img" href="http://enib.fr" target="_blank">
						<img src="https://img4.hostingpics.net/pics/530512brest.jpg" alt="" \>
					</a>
				</div>
			</div>
			<div class="number">
				<div class="number_content">
					<div class="number_content_nh">
						<table width="100%" height="100%" cellpadding="0" cellspacing="0" border="0">
							<tbody>
								<tr>
									<td>
										<h3>Plus de 100 diplomés par ans</h3>
										<h4></h4>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="number_content_h">
						<table width="100%" height="100%" cellpadding="0" cellspacing="0" border="0">
							<tbody>
								<tr>
									<td>
										<div>Plus d'information</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<a class="number_img" href="http://gala.enib.net" target="_blank">
						<img src="https://img4.hostingpics.net/pics/768376remise.jpg" alt="" \>
					</a>
				</div>
			</div>
		</div>
	</section>

	<!-- TriangleShadow separator -->
	<svg id="bigTriangleShadow" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
		<path id="trianglePath1" d="M0 0 L50 100 L100 0 Z" />
		<path id="trianglePath2" d="M50 100 L100 40 L100 0 Z" />
	</svg>

	<!-- Asso section -->
	<section class="ui vertical quote asso ">
		<div class="ui container">
			<div class="ui vertical stripe segment">
				<div class="ui relaxed items">
					<div class="item">
						<h2><p>Les associations</p></h2>
					</div>
					<div class="item">
						<div class="image medium ui">
							<img src="https://img4.hostingpics.net/pics/834990bde.png" alt="" \>
						</div>
						<div class="content">
							<h3>Le BDE</h3>
							<div class="meta">
								<span>Bureau des étudiants</span>
							</div>
							<div class="description">
								<p>Le BDE est l'association centrale de l'ENIB.</p>
								<p>Elle est présente pour l'ensemble des étudiants, de l'intégration à la mise à disposition et l'entretien du foyer et du matériel qui s'y trouve en passant par les apéros, soirées à thème et autres joyeusetés.</p>
								<p class=\"max\">Nous somme également là pour faire le lien entre les étudiants et l'administration, vous proposez un tutorat ou encore vous permettre de vous amuser avec les autres écoles brestoises !</p>
							</div>
							<div class="extra">
								<a href="mailto:bde@enib.fr" class="ui label">
									<i class="icon mail"></i>bde@enib.fr
								</a>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="ui medium image min">
							<img src="https://img4.hostingpics.net/pics/710657bds.jpg" alt="" \>
						</div>
						<div class="content">
							<h3>Le BDS</h3>
							<div class="meta">
								<span>Bureau des sports</span>
							</div>
							<div class="description">
								<p>Le BDE est l'association centrale de l'ENIB.</p>
								<p>Elle est présente pour l'ensemble des étudiants, de l'intégration à la mise à disposition et l'entretien du foyer et du matériel qui s'y trouve en passant par les apéros, soirées à thème et autres joyeusetés.</p>
								<p class=\"max\">Nous somme également là pour faire le lien entre les étudiants et l'administration, vous proposez un tutorat ou encore vous permettre de vous amuser avec les autres écoles brestoises !</p>
							</div>
							<div class="extra">
								<a href="mailto:bds@enib.fr" class="ui label">
									<i class="icon mail"></i>bds@enib.fr
								</a>
							</div>
						</div>
						<div class="ui medium image max">
							<img src="https://img4.hostingpics.net/pics/710657bds.jpg" alt="" \>
						</div>
					</div>
					<div class="item">
						<div class="image medium ui">
							<img src="https://img4.hostingpics.net/pics/811608cafet.jpg" alt="" \>
						</div>
						<div class="content">
							<h3>Caféteria</h3>
							<div class="description">
								<p>La cafétéria ENIB est située dans le foyer.</p>
								<p>Elle vous propose à manger :</p>
								<ul class=\"ui list\">
									<li>Des barres chocolatées</li>
									<li>Des friandises</li>
									<li>Des pommes</li>
									<li>Des sandwitchs (Les Lundi, Mardi et Jeudi)</li>
									<li>Des barres glacées ( quand il fait chaud )</li>
								</ul>
								<p>Mais aussi à boire :</p>
								<ul class=\"ui list\">
									<li>Des sodas</li>
									<li>Des jus de fruit</li>
									<li>Des bières pressions et bouteilles ( Les Mercredi soir )</li>
								</ul>
							</div>
							<div class="extra">
								<a href="mailto:cafeteria@enib.fr" class="ui label">
									<i class="icon mail"></i>cafeteria@enib.fr
								</a>
								<a class="ui label" href="https://www.facebook.com/Enib.bar/?ref=br_rs" target="_blank"><i class="icon facebook"></i> Enibar</a>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="content">
							<h3>Horizon Ingénieur</h3>
							<div class="meta">
								<span>La junior de l'enib</span>
							</div>
							<div class="description">
								<p>L'association Horizon Ingénieur est la Junior de l'ENIB.</p>
								<p>Nous mettons en contact les entreprises et les étudiants afin que ceux-ci réalisent des projets rémunérés.</p>
								<p class=\"max\">Nous effectuons les démarches administratives afin que l'étudiant n'ait pas à s'en occuper et nous nous engageons à lui fournir un suivit de projet et une aide en cas de besoin.</p>
								<p class=\"max\">Nous sommes également garants de la qualité des projets rendus aux entreprises.</p>
							</div>
							<div class="extra">
								<a href="mailto:horizon.ingenieur@enib.fr" class="ui label">
									<i class="icon mail"></i>horizon.ingenieur@enib.fr
								</a>
								<a class="ui label" href="http://horizon-ingenieur.fr/" target="_blank"><i class="icon world"></i>horizon-ingenieur.fr</a>
							</div>
						</div>
						<div class="image medium ui">
							<img src="https://img4.hostingpics.net/pics/35965017hi.jpg" alt="" \>
						</div>
					</div>
					<div class="item">
						<div class="image medium ui">
							<img src="https://scontent-cdt1-1.xx.fbcdn.net/v/t1.0-9/14117898_321827801494590_5587553606325763180_n.jpg?oh=5a61d959da0046c3cb4f4db78893faee&oe=5AD32EBD" alt="" \>
						</div>
						<div class="content">
							<h3>Le BDA</h3>
							<div class="description">
								<p>Le BDA est le bureau des arts de l'enib</p>
								<p>L'association a pour but de favoriser et sensibiliser à l'art et à la création au sein de l'école, et pourquoi pas en s'étendant jusqu'à Brest !</p>
							</div>
							<div class="extra">
								<a href="mailto:cafeteria@enib.fr" class="ui label">
									<i class="icon mail"></i>bda@enib.fr
								</a>
								<a class="ui label" href="https://www.facebook.com/bda.enib/?hc_ref=ARTi_iOG7PzxYYpy1w5halCZiqGEjPLSouv28syLz2DyY6Mm6ESLTVTUMCImlGBOrCU" target="_blank"><i class="icon facebook"></i> BDA</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<!-- Separator doublediagonal -->
	<section class="ss-style-doublediagonal">
		<div></div>
	</section>

	<!-- Program section -->
	<section class="ui vertical stripe segment program">
		<div class="ui container text">
			<h1 class="ui header">Programme</h1>
		</div>
		<div class="ui container">
			<img class="ui fluid image" src="https://img4.hostingpics.net/pics/268656formation.png">
		</div>
	</section>


	<!-- News section -->
	<section class="ui vertical stripe segment news">
		<div class="news_container">
			<div class="news">
				<h3>Les derniers évènements organisés par les associations</h3>
				<p class="max">Chaque fois qu'un évènement est organisés, les associations de l'enib crée un évènement sur le site enib.net afin que tous les élèves puissent y participer</p>
				<div class="news_divider">
					<div class="new">
						<div class="new_picture">
							<img alt="affiche" src="https://img4.hostingpics.net/pics/637118AfficheNoLimitPyj.png" />
						</div>
						<div class="new_text">
							<h4>Soirée Pyjama</h4>
							<p>
								Première soirée de l&#39;année scolaire, et donc première soirée pour les nouveaux arrivant ;) Venez découvrir le foyer comme vous ne l&#39;avez jamais vu ! Pendant une soirée tout le bâtiment se transforme en discothèque privée ;)
								<br/> 
								Le BDE est prêt à vous recevoir dans la bonne humeur pour qui vous passiez une soirée mémorable !
								<br />
								On se retrouve donc Vendredi 10 Novembre au Foyer des Élèves de l&#39;ENIB ( aka Enibar pour les intimes et google maps), 1010 Avenue du Technopôle à Plouzané !
							</p>
						</div>
					</div>
					<div class="new">
						<div class="new_picture">
							<img alt="affiche" src="https://scontent-cdt1-1.xx.fbcdn.net/v/t31.0-8/18076839_1317337768351236_6190572453517130090_o.jpg?oh=5fc4c82b40ead1d1a8fd37182ce1b511&oe=5A8E21C4" />
						</div>
						<div class="new_text">
							<h4>Soiré reverse</h4>
							<p>
								Réserve ta soirée le vendredi 12 mai parce que le BDE Elements organise sa deuxième soirée !! De la bonne musique et une ambiance de folie grâce au club Sono de l&#39;école !
								<br />
								Le BDE est prêt à vous recevoir dans la bonne humeur pour qui vous passiez une soirée mémorable !
								<br />
								On se retrouve donc Vendredi 12 Mai au Foyer des Elèves de l&#39;ENIB ( aka Enibar pour les intimes et google maps), 1010 Avenue du Technopôle à Plouzané !
							</p>
						</div>
					</div>
					<div class="new">
						<div class="new_picture">
							<img alt="affiche" src="http://pix.toile-libre.org/upload/original/1489952135.jpg" />
						</div>
						<div class="new_text">
							<h4>Gala 2017</h4>
							<p>
								Le Gala ?
								Mais c&#39;est quoi ?
								La soirée qui met à l&#39;honneur nos jeunes diplômés, tout le monde bien habillé, des profs, l&#39;admin, des élèves, des vieux ... Et tout ça autour d&#39;une (ou plusieurs) coupe(s) de champagne ! :) (Ne vous inquiétez pas, il n&#39;y a pas que ça)
								<br />
								Mais c&#39;est quand ?
								Le Samedi 1er Avril ! (Et oui ça arrive bientôt alors ne tarde pas trop)
								<br />
								Mais c&#39;est où ?
								A l&#39;Espace Keraudy de Plougonvelin. Ne t&#39;en fais pas, si tu ne sais pas où c&#39;est, il y aura des navettes qui prendrons et déposerons à Liberté et à l&#39;ENIB afin de vous permettre de venir sans conduire et sans souci.
								<br />
								Mais n&#39;y aurait-il pas quelque chose dans l&#39;après-midi ?
								Bien sûr que si ! Il y a la fameuse remise des diplômes (aka RDD) que Dudu et son équipe vous ont concocté. Ça se passe au cinéma Multiplexe de Brest et c&#39;est l&#39;occasion de féliciter et parfois de découvrir d&#39;une autre manière les futurs anciens enibiens.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- footer -->
	<footer class="ui inverted vertical footer segment contact">
		<div class="ui stackable grid">
			<div class="one column row">
				<div class="column footer_link">
					<div class="ui horizontal inverted small divided link list">
						<a class="item" href="https://www.facebook.com/BDE-Elements-166864440470087/?ref=br_rs" target="_blank">facebook</a>
						<a class="item" href="http://enib.fr" target="_blank">enib.fr</a>
						<a class="item" href="mailto:bde@enib.fr">bde@enib.fr</a>
					</div>
				</div>
			</div>
		</div>
	</footer>

	<!-- Script insertion -->
	<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
	<script type="text/javascript" src="{% static 'semantic/dist/semantic.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/homepage.js' %}"></script>
</body>
</html>
