{% load static %}
{% load markdown %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{% static 'semantic/dist/semantic.min.css'%}">
	<title>Enib.net - Le site pour les étudiants de l'enib</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/homepage.css' %}">
</head>
<body>

	<img class="bg-home" src="{% static 'images/banner.jpg' %}" alt="" \>

	<!-- Following Menu -->
	<div class="ui large top fixed menu inverted max">
		<div class="ui container">
			<div class="right menu">
				<div class="item">
					<a href="{% url 'accounts:login' %}" class="ui button inverted">Site élève</a>
				</div>
			</div>
		</div>
	</div>

	<!-- Page Contents -->

	<!-- Header section -->
	<section class="ui inverted vertical masthead center aligned segment">
		
		<!-- Login btn for mobile -->
		<div class="login-btn min">
			<a href="{% url 'accounts:login' %}" class="ui black button">Site élève</a>
		</div>

		<!-- Icon -->
		<div class="logo">
			<img src="{% static 'images/logo.png' %}" alt="logo">
		</div>
		<div class="ui text container">
			<h1 class="ui inverted header">
				Enib.net
			</h1>
			<h2>Le site des élèves de l'enib</h2>
			<a class="ui huge button max" href="#introduction">Commencer la visite<i class="right arrow icon"></i></a>
		</div>

	</section>

	<!-- Intro section -->
	<section class="ui vertical introduction">
		<a name="introduction" id="introduction"></a>
		<div class="ui text container">
			<h1 class="ui header ">Quelques chiffres</h1>
		</div>
		<div class="ui stackable grid container">
			<div class="number">
				<div class="number_content">
					<div class="number_content_nh">
						<table width="100%" height="100%" cellpadding="0" cellspacing="0" border="0">
							<tbody>
								<tr>
									<td>
										<h3>100% d'emploi</h3>
										<h4>6 mois après la remise des diplômes</h4>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="number_content_h">
						<table width="100%" height="100%" cellpadding="0" cellspacing="0" border="0">
							<tbody>
								<tr>
									<td>
										<div>Plus d'information</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<a class="number_img" href="http://www.enib.fr/fr/ecole/ecole-reussite-ingenieur/reussite-des-eleves" target="_blank" >
						<img src="{% static 'images/homepage/pedale.jpg' %}" alt="pedale" \>
					</a>
				</div>
			</div>
			<div class="number">
				<div class="number_content">
					<div class="number_content_nh">
						<table width="100%" height="100%" cellpadding="0" cellspacing="0" border="0">
							<tbody>
								<tr>
									<td>
										<h3>Depuis 1961</h3>
										<h4>L'enib révèle des ingénieurs depuis 1961</h4>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="number_content_h">
						<table width="100%" height="100%" cellpadding="0" cellspacing="0" border="0">
							<tbody>
								<tr>
									<td>
										<div>Plus d'information</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<a class="number_img" href="http://enib.fr" target="_blank">
						<img src="{% static 'images/homepage/brest.jpg' %}" alt="" \>
					</a>
				</div>
			</div>
			<div class="number">
				<div class="number_content">
					<div class="number_content_nh">
						<table width="100%" height="100%" cellpadding="0" cellspacing="0" border="0">
							<tbody>
								<tr>
									<td>
										<h3>Plus de 100 diplomés par ans</h3>
										<h4></h4>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="number_content_h">
						<table width="100%" height="100%" cellpadding="0" cellspacing="0" border="0">
							<tbody>
								<tr>
									<td>
										<div>Plus d'information</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<a class="number_img" href="http://gala.enib.net" target="_blank">
						<img src="{% static 'images/homepage/remise.jpg' %}" alt="" \>
					</a>
				</div>
			</div>
		</div>
	</section>

	<!-- TriangleShadow separator -->
	<svg id="bigTriangleShadow" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
		<path id="trianglePath1" d="M0 0 L50 100 L100 0 Z" />
		<path id="trianglePath2" d="M50 100 L100 40 L100 0 Z" />
	</svg>

	{% if assos %}
		<!-- Asso section -->
		<section class="ui vertical quote asso ">
			<div class="ui container">
				<div class="ui vertical stripe segment">
					<div class="ui relaxed items">
						<div class="item">
							<h2><p>Les associations</p></h2>
						</div>
						{% for asso in assos %}
							<div class="item">
								{% if asso.picture %}
									<div class="image medium ui">
										<img src="{{ asso.picture.url }}" alt="{{ asso }}">
									</div>
								{% endif %}
								<div class="content">
									<h3><a href="{% url 'asso:details' aid=asso.pk %}">{{asso}}</a></h3>
									<div class="description">
										{% if asso.description %}
											<p>{{ asso.description|markdown }}</p>
										{% else %}
											<p> L'association n'a pas rédigé de description</p>
										{% endif %}
									</div>
									<div class="extra">
										{% if asso.mail %}
											<a href="mailto:{{ asso.mail }}" class="ui label"><i class="icon mail"></i>{{ asso.mail}}</a>
										{% endif %}
										{% if asso.site %}
											<a href="{{ asso.site }}" class="ui label"><i class="icon world">{{ asso.site }}</i> </a>
										{% endif %}
									</div>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</section>
	
	
	<!-- Separator doublediagonal -->
	<section class="ss-style-doublediagonal">
		<div></div>
	</section>

	{% endif %}

	<!-- Program section -->
	<section class="ui vertical stripe segment program">
		<div class="ui container text">
			<h1 class="ui header">Programme</h1>
		</div>
		<div class="ui container">
			<img class="ui fluid image" src="{% static 'images/homepage/formation.png' %}">
		</div>
	</section>

	{% if news %}
		<!-- News section -->
		<section class="ui vertical stripe segment news">
			<div class="news_container">
				<div class="news">
					<h3>Les derniers évènements organisés par les associations</h3>
					<p class="max">Chaque fois qu'un évènement est organisés, les associations de l'enib crée un évènement sur le site enib.net afin que tous les élèves puissent y participer</p>
					<div class="news_divider">
						{% for new in news %}
							<div class="new">
								{% if new.picture %}
									<div class="new_picture">
										<img src="{{ new.picture.url }}" alt="" />
									</div>
								{% endif %}
								<div class="new_text">
									<h4>{{ new.title}}</h4>
									<p>
										{{ new.content|markdown }}
									</p>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</section>
	{% endif %}

	<!-- footer -->
	<footer class="ui inverted vertical footer segment contact">
		<div class="ui stackable grid">
			<div class="one column row">
				<div class="column footer_link">
					<div class="ui horizontal inverted small divided link list">
						<a class="item" href="https://www.facebook.com/BDE-Elements-166864440470087/?ref=br_rs" target="_blank">facebook</a>
						<a class="item" href="http://enib.fr" target="_blank">enib.fr</a>
						<a class="item" href="mailto:bde@enib.fr">bde@enib.fr</a>
					</div>
				</div>
			</div>
		</div>
	</footer>

	<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'semantic/dist/semantic.min.js' %}"></script>
</body>
</html>
